.course_block {
    height: 50px;
    min-width: 100px;
    max-width: 100px;
}

.course_block_schedule {
    height: 50px;
    min-width: 50px;
    max-width: 50px;
}

.lists-max-height {
    max-height: 700px;
    overflow-y: auto;
}

.red {
    color: red;
}